* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-flow: row nowrap;
    background-color: red;
    padding:2pt 0 2pt 0 ;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}


.logo {
    width: 9%;
    display: flex;
    justify-content: center;
}

.header-nav {
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

nav > a {
    flex: 1;
}

a:active, a:link, a:visited, A:hover{
    color: #ffffff;
    text-decoration: none;
}

nav > div > input[type="text"] {
    flex: 2;
    font-size: 16px; 
    width: 70%;
}

nav > div > .search-button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 2pt 6pt 2pt 6pt;
    margin: 0;
    border: 2pt solid white;
    border-left-width: 0;
}
nav > div > .search-button:hover{
    background-color: white;
    color: red;
}

#search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }