html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color:rgb(14, 14, 14);
}

* {box-sizing:border-box}

.main-wrapp {
    margin-left: 20%;
    margin-right: 15%;
}

.about-serial {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info {
    padding-left: 4vw;
}

.info > p {
    padding-bottom: 5px;
}

.add-btn {
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 4px;
    margin: 20px 0 20px ;
    background-color: red;
    color: white;
    cursor: pointer;
}

.add-btn:hover {
    background-color: white;
    color: #333
}