html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color:rgb(14, 14, 14);
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 20pt 0 20pt 0;
}

* {box-sizing:border-box}

main > .posters-section {
    display: flex;
    flex-direction: column;
}

.sort-order-wrap {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 5px;
}

.sort-order {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2pt solid white;
    border-radius: 5pt;
}

.posters-table {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    width: fit-content;
    grid-auto-flow: dense;
}

.poster {
    width: 100%;
    padding: 2px;
}